SUPERSET_PORT=8088
SUPERSET_SECRET_KEY=replace-with-a-long-random-prod-string

SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_FIRSTNAME=Superset
SUPERSET_ADMIN_LASTNAME=Admin
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_ADMIN_PASSWORD=change-me

AWS_ACCESS_KEY_ID=replace-me
AWS_SECRET_ACCESS_KEY=replace-me
AWS_SESSION_TOKEN=
AWS_DEFAULT_REGION=eu-north-1

ATHENA_REGION=eu-north-1
ATHENA_DATABASE=awsdatacatalog
ATHENA_SCHEMA=swedish_mortgages_prod_marts
ATHENA_WORK_GROUP=primary
ATHENA_S3_STAGING_DIR=s3://YOUR-ATHENA-QUERY-RESULTS/dbt-results/
SUPERSET_DATABASE_NAME=Athena Swedish Mortgages

TAILSCALE_BASE_URL=
